* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../img/bg.jpg'); /* Coloca aquí la imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button.btn {
  background-color: #f07f72;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button.social {
  background-color: #4267B2;
  margin-top: 10px;
  width: 48%;
  display: inline-block;
}

button.social:nth-child(2) {
  background-color: #1DA1F2;
  float: right;
}

button:hover {
  opacity: 0.8;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password {
  text-decoration: none;
  color: #666;
  font-size: 12px;
}

.social-login p {
  text-align: center;
  color: #666;
  margin: 15px 0;
}

.social-login {
  text-align: center;
}

.form-box {
  display: none; /* Por defecto, oculta todas las vistas */
}

.form-box.active {
  display: block; /* Solo muestra la vista activa */
}

.toggle-form {
  text-align: center;
  margin-top: 20px;
}

.toggle-form a {
  color: #f07f72;
  text-decoration: none;
}
